# Ignore the virtual environment directory
venv/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore logs and other temporary files
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large files (optional, adjust as needed)
*.map
*.bin
.venv/
